<button onclick="getData()">Start</button>
<div>
  <button onclick="showAll()">Show All</button>
  <button onclick="showMurder()">Show Murder</button>
</div>
<div id="crimes"></div>

<!-- <button onclick="getData()">Start</button>
<div>
  <button onclick="showAll()">Show All</button>
  <button onclick="showPolice()">Show Popo</button>
</div>
<div id="employees"></div> -->
